<div class="w3-row" style="background-color: #2C2C2C; padding-top: 3%; padding-bottom: 3%;">
    <div class="w3-col l4 m4" style="color: white;padding-left: 5%;">
      <img style=" width: 129.96px; height: 67.58px;" src="../assets/MTac Pro logo.png" alt="">
      <p style="font-size: 14px;">Lorem ipsum, or lipsum as it is sometimes known,
        is dummy text used in laying out print, graphic or web designs.
        The passage is attributed to an unknown typesetter in the.</p>
    </div>
    <div class="w3-col l4 m4" style=" color: white;padding-left: 5%;">
      <p style="font-size: 16px;">Contact <span style="color: #E26246;">us</span> </p>
      <p style="font-size: 14px;"> <img style="padding-right: 1%;" src="../assets/mail.png" alt=""> connect@manteio.in</p>
      <p style="font-size: 14px;"><img style="padding-right: 1%;" src="../assets/call.png" alt=""> +91 9391385170</p>
      <p style="font-size: 14px;"> <img style="padding-right: 2%;" src="../assets/pin.png" alt=""> Rama Mansion 3rd Floor, Begumpet, Hyderabad - 500016.</p>
    </div>
    <div class="w3-col l4 m4" style=" color: white;padding-left: 5%;">
      <p style="font-size: 16px; margin-bottom: 0px;">Powered <span style="color: #E26246;" >by</span></p>
      <img style="width: 222px; height: 59px;" src="../assets/Manteio logo.png" alt=""><br>
      <a href="" style="padding-left: 14%;"><img src="../assets/facebook.png" alt=""></a>
      <a href="" style="padding-left: 2%;"><img src="../assets/instagram.png" alt=""></a>
      <a href="" style="padding-left: 2%;"><img src="../assets/linkedin.png" alt=""></a>
      <a href="" style="padding-left: 2%;"><img src="../assets/twitter.png" alt=""></a>
      <a href="" style="padding-left: 2%;"><img src="../assets/youtube.png" alt=""></a>
    </div>
  </div>
  <div style="background-color: #202020;height: 25px;">
    <p class="text-center" style="font-size: 9px; color: white; padding-top: 0.5%;"> © Copyright 2020. All rights reserved.</p>
  </div>