<!--design 12-->
<div class="design12">
    <img src="../../assets/designs/Design 12.png" alt="">
</div>
<!---->
<!--design 14-->
<div class="design14">
    <img src="../../assets/designs/Design 14.png" alt="">
</div>
<!---->
<!--design 16-->
<div class="design16">
    <img src="../../assets/designs/Design 16.png" alt="">
</div>
<!---->
<!--design 13-->
<div class="design13">
    <img src="../../assets/designs/Design 13.png" alt="">
</div>
<!---->
<!--design 11-->
<div class="design11">
    <img src="../../assets/designs/Design 11.png" alt="">
</div>
<!---->
<!--design 01-->
<div class="design01">
    <img src="../../assets/designs/Design 01.png" alt="" class="design01Img">
</div>
<!---->
<!--design 4-->
<div class="design4">
    <img src="../../assets/designs/Design 4.png" alt="" class="design4Img">
</div>
<!---->
<!--design 03-->
<div class="design03">
    <img src="../../assets/designs/Design 3.png" alt="">
</div>
<!---->
<!--design 05-->
<div class="design05">
    <img src="../../assets/designs/Design 05.png" alt="">
</div>
<!---->
<!--Social Icons-->
<div class="text-center socialIcons">
<a href=""><img style="width: 33px; height: 33px; margin-top: 25px;" src="../assets/socials icons/facebook - white.png" alt=""></a><br>
<a href=""><img style="width: 33px; height: 33px;" src="../assets/socials icons/instagram - white.png" alt=""></a><br>
<a href=""><img style="width: 33px; height: 33px;" src="../assets/socials icons/twitter - white.png" alt=""></a><br>
<a href=""><img style="width: 33px; height: 33px;" src="../assets/socials icons/linkedin - white.png" alt=""></a>
</div>
<!----->
<img class="imgTop" src="../../assets/Contact us – 1.png" alt="">
<!--Circle Images-->
<div class="posiAbsolute design8 w3-hide-small">
  <img src="../../assets/Design 8.png" alt="">
</div>
<div class="posiAbsolute design9 w3-hide-small">
  <img src="../../assets/Design 9.png" alt="">
</div>
<div class="posiAbsolute design10 w3-hide-small">
  <img src="../../assets/Design 10.png" alt="">
</div>
<div class="posiAbsolute design6 w3-hide-small">
  <img src="../../assets/Desgin 6.png" alt="">
</div>
<div class="posiAbsolute design7 w3-hide-small">
  <img src="../../assets/Design 7.png" alt="">
</div>
<!---->
<div class="contactUs">
  <p class="contactP" style=" font-weight: bold; color: white;">Contact <span style="color: orange;"> us</span></p>
  
</div>
<div class="contactUsPara" >
  <p style="color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
</div>
<!---About us-->
<div class="w3-row text-center aboutUsDiv">
  <p class="aboutUsPara">About us</p>
  <hr   style="margin-left: 45%;" width="7.5%">
  <hr style="margin-left: 49%;" width="7.5%">
</div>

<div class="w3-row" style="">
    <div class="w3-col l6 m6 s12 rowCol1" >
        <p class="rowCol1Para1">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. 
            The passage is attributed to an unknown typesetter.</p>
            <p class="rowCol1Para2">What means MTac Pro & About it.</p>
            <p class="rowCol1Para3">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. 
                The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De. Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with. The purpose of lorem ipsum. g out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bon</p>
  </div>
    <div class="w3-col l6 m6 s12 rowCol2">
        <img src="../../assets/about us image.png" alt="" class="rowCol2Img" >
    </div>
    
</div>
<br><br><br>

  <!--Mobile Side 
  <div class="mobileAbsolute">
    <div>
      <div class="text-center">
        <p class="pp" style="font-size: 39px; color: #FC0E40;letter-spacing: 1.17px; font-weight: bold; 
      font-family: sans-serif;">Contact us</p>
      </div>
      <div>
        <p class="mobilePara">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in
          laying out print, graphic or web designs.
          The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of
          Cicero's De.</p>
      </div>
    </div>
  
    <div style="margin-left: 2%;">
      <img class="img100" src="../assets/mobile1.png" alt="">
    </div>
  </div>
   MObile Side-->
  <!--
    
  
  <img class="img100" src="../../assets/Contact us-BG.png" alt="" style="height: 736.62px; width: 100%;">-->
  
  <!-- Start Transparent Form 
  <div class="formTrans form100" style=" height: auto; border-radius: 10px; position: absolute; color: white; 
  background-image: url(../../assets/Contact\ us-BG.png);background: transparent; background-color: #7e787829 ">
  <form class="" style="padding: 5%; background: transparent;">
    <div class="w3-row">
      <div class="w3-col l6 m6 s12" style="padding-right:5% ;">
        <label>First Name</label>
        <input type="text" class="form-control inputBackground">
      </div>
      <div class="w3-col l6 m6 s12" style="padding-right:5% ;">
        <label>First Name</label>
        <input type="text" class="form-control inputBackground">
      </div>
    </div>
    <div class="w3-row">
      <label>First Name</label>
        <input type="text" class="form-control inputBackground">
    </div>
    <div class="w3-row" style="padding-top: 5%;">
      
      <div class="w3-col l2 m3 s4">
        <label style="padding-bottom: 0%; padding-top: 0%; ">Mobile</label>
        <input type="text" class="form-control inputBackground">
      </div>
      <div class="w3-col l10 m9 s8" style="padding-left:5%">
        <br>
        <input type="text" class="form-control inputBackground">
      </div>
    </div>
    <div class="w3-row">
      <label>Description</label><br>
        <textarea name="" id="" cols="30" rows="8" class="form-control inputBackground"></textarea>
    </div>
    <div class="w3-row text-center" style="padding-top: 5%;">
      <button class="btn btn" style="background-color: #E26246; color: white;">Submit</button>
    </div>
  </form>
  </div>
   End Transparent Form-->
  <!------------------------------------------------------------------------------------------------->
  <div class="w3-row" style="background-image: url(../../assets/Contact\ us-BG.png); width: 100%;">
      <!--Mobile Side-->
    <div class="w3-col l6">
        <div>
            <div class="row2Col1Div3" >
                <div class="text-center">
                    <p class="row2Col1Para1">Contact us</p>
           <hr   style="margin-left: 37%; color: white;" width="17.5%" >
           <hr style="margin-left: 49%; color: white;" width="17.5%">
                </div><br>
                <div style="">
                    <p class="row2Col1Para2">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in
                        laying out print, graphic or web designs.
                        The passage is attributed to an unknown typesetter in the 15th century who is thought to have
                        scrambled parts of
                        Cicero's De.</p>
                </div>
            </div>
            <div>
                <img class="row2Col1Img" src="../../assets/286 [Converted].png" alt="">
            </div>
        </div>
    </div>
       <!--MObile Side-->
        <!-- Start Transparent Form-->
    <div class="w3-col l6">
        <div class="row2Col2" style="   
      background-image: url(../../assets/Contact\ us-BG.png);  
     ">
            <form class="row2Col2Form">
                <div class="w3-row">
                    <div class="w3-col l6 m6 s12 row2Col2FormFirstNameDiv">
                        <label>First Name</label>
                        <input type="text" class="form-control inputBackground">
                    </div>
                    <div class="w3-col l6 m6 s12 row2Col2FormFirstNameDiv">
                        <label>Last Name</label>
                        <input type="text" class="form-control inputBackground">
                    </div>
                </div>
                <div class="w3-row">
                    <label>Email</label>
                    <input type="text" class="form-control inputBackground">
                </div>
                <div class="w3-row row2Col2FormFirstNameDiv">
                    <div class="w3-col l2 m3 s4">
                        <label style="padding-bottom: 0%; padding-top: 0%; ">Mobile</label>
                        <input type="text" class="form-control inputBackground">
                    </div>
                    <div class="w3-col l10 m9 s8" style="padding-left:5%">
                        <br>
                        <input type="text" class="form-control inputBackground">
                    </div>
                </div>
                <div class="w3-row">
                    <label>Description</label><br>
                    <textarea name="" id="" cols="30" rows="8" class="form-control inputBackground"></textarea>
                </div>
                <div class="w3-row text-center" style="padding-top: 5%;">
                    <button class="btn btn" style="background-color: #E26246; color: white;">Submit</button>
                </div>
            </form>
        </div>
    </div>
      <!--End Transparent Form-->
  </div>
  <!--------------------------------------------------------------------------------------------------->
  <div class="w3-row" style="background-color: #2C2C2C; padding-top: 3%; padding-bottom: 3%;">
    <div class="w3-col l4 m4" style="color: white;padding-left: 5%;">
      <img style=" width: 129.96px; height: 67.58px;" src="../assets/MTac Pro logo.png" alt="">
      <p style="font-size: 14px;">Lorem ipsum, or lipsum as it is sometimes known,
        is dummy text used in laying out print, graphic or web designs.
        The passage is attributed to an unknown typesetter in the.</p>
    </div>
    <div class="w3-col l4 m4" style=" color: white;padding-left: 5%;">
      <p style="font-size: 16px;">Contact <span style="color: #E26246;">us</span> </p>
      <p style="font-size: 14px;"> <img style="padding-right: 1%;" src="../assets/mail.png" alt=""> connect@manteio.in</p>
      <p style="font-size: 14px;"><img style="padding-right: 1%;" src="../assets/call.png" alt=""> +91 9391385170</p>
      <p style="font-size: 14px;"> <img style="padding-right: 2%;" src="../assets/pin.png" alt=""> Rama Mansion 3rd Floor, Begumpet, Hyderabad - 500016.</p>
    </div>
    <div class="w3-col l4 m4" style=" color: white;padding-left: 5%;">
      <p style="font-size: 16px; margin-bottom: 0px;">Powered <span style="color: #E26246;" >by</span></p>
      <img style="width: 222px; height: 59px;" src="../assets/Manteio logo.png" alt=""><br>
      <a href="" style="padding-left: 14%;"><img src="../assets/facebook.png" alt=""></a>
      <a href="" style="padding-left: 2%;"><img src="../assets/instagram.png" alt=""></a>
      <a href="" style="padding-left: 2%;"><img src="../assets/linkedin.png" alt=""></a>
      <a href="" style="padding-left: 2%;"><img src="../assets/twitter.png" alt=""></a>
      <a href="" style="padding-left: 2%;"><img src="../assets/youtube.png" alt=""></a>
    </div>
  </div>
  <div style="background-color: #202020;height: 25px;">
    <p class="text-center" style="font-size: 9px; color: white; padding-top: 0.5%;"> © Copyright 2020. All rights reserved.</p>
  </div>