<style>

    .contactP{
        font-size: 39px;
    }
    .imgAuto{
        width: auto; height: auto;
    }
    .contactUs{
      position: absolute; top: 28%; left: 45%;
    }
    .contactUsPara{
      position: absolute; top: 38%; left: 35%; width: 37%;
    }
    .posiAbsolute{
      position: absolute;
    }
    .design6{
      left: 69.619%; top: 37%;
    }
    .design7{
      left: 61.933%; top: 75%;
    }
    .design8{
      left: 27.965%; top: 24.816%
    }
    .design9{
      left: 10.322%; top:40.967%
    }
    .design10{
      left: 18.228%; top:55%
    }
    @media screen and (min-width:320px) and (max-width:700px){
        .aboutUs{
            width:100%
        }
        .imgAuto{
        width: 100%; height: 100%;
    }
    .contactP{
        font-size: 14px;
    }
    .contactUs{
        font-size: 14px;
        top: 2%;
        left: 5%;
    }
    .contactUsPara{
        left: 4%;
        width: 60%;
        top: 5%;
    }
    }
    @media screen and (min-width:701px) and (max-width:1000px) {
      img{
        width: 40%;
      }
      .design6{
      left: 69.619%; top: 10%;
    }
    .design7{
      left: 61.933%; top: 10%;
    }
    .design8{
      left: 27.965%; top: 10%
    }
    .design9{
      left: 10.322%; top:10%
    }
    .design10{
      left: 18.228%; top:10%
    }
    }
  </style>
  <img class="imgAuto" src="../../assets/Contact us – 1.png" alt="">
  
  <div class="posiAbsolute design8 w3-hide-small">
    <img src="../assets/Design 8.png" alt="">
  </div>
  <div class="posiAbsolute design9 w3-hide-small">
    <img src="../assets/Design 9.png" alt="">
  </div>
  <div class="posiAbsolute design10 w3-hide-small">
    <img src="../assets/Design 10.png" alt="">
  </div>
  <div class="posiAbsolute design6 w3-hide-small">
    <img src="../assets/Desgin 6.png" alt="">
  </div>
  <div class="posiAbsolute design7 w3-hide-small">
    <img src="../assets/Design 7.png" alt="">
  </div>
  <div class="contactUs">
    <p class="contactP" style=" font-weight: bold; color: white;">Contact <span style="color: orange;"> us</span></p>
    
  </div>
  <div class="contactUsPara" >
    <p style="color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
  </div>
  <!---About us-->
  <div class="w3-row text-center">
    <p style="color: #FC0E40; font-size: 39px; font-weight: bold;">About us</p>

  </div>

  <div class="w3-row">
      <div class="w3-col l6 m6 s12" style="text-align: right;">
          <img src="../../assets/about us image.png" alt="" class="aboutUs" >
      </div>
      <div class="w3-col l6 m6 s12" style="padding-right: 10%;padding-left: 3%;">
            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, 
                graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century 
                who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type 
                specimen book. It usually begins with. The purpose of lorem ipsum is to create a natural looking.</p>
                <p style="color: #4A3E84; font-size: 28px; font-weight: bold;">What means MTac Pro & About it.</p>
                <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic 
                    or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought 
                    to have scrambled parts of Cicero's De. Finibus Bonorum et Malorum for use in a type specimen book. 
                    It usually begins with. The purpose of lorem ipsum. g out print, graphic or web designs. The passage is 
                    attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bon</p>
      </div>
  </div>