
  <!--design 01-->
<div class="design01">
    <img src="../../assets/designs/Design 01.png" alt="" class="design01Img">
</div>
<!---->
  <!--Social Icons -->
  <div class="text-center socialIcons">
  <a href=""><img style="width: 33px; height: 33px; margin-top: 25px;" src="../assets/socials icons/facebook - white.png" alt=""></a><br>
  <a href=""><img style="width: 33px; height: 33px;" src="../assets/socials icons/instagram - white.png" alt=""></a><br>
  <a href=""><img style="width: 33px; height: 33px;" src="../assets/socials icons/twitter - white.png" alt=""></a><br>
  <a href=""><img style="width: 33px; height: 33px;" src="../assets/socials icons/linkedin - white.png" alt=""></a>
  </div>
    
  <!--Design 02-->
  <div class="design02">
    <img src="../assets/designs/Design 02.png" alt="" class="design02Img">
  </div>
  <!---->
  
  <img src="../../assets/industries/Industries – 1.png" alt="" class="industriesImg" >
  <img src="../assets/industries/lappy image.png" alt=""  class="lappyImg">
  <div class="industriesHeader">
    <p class="industriesHeaderPara1">Industrie<span style="color: #E26246;">s</span></p><!-- font-family: KonsensSemibold, Regular;-->
    <p class="industriesHeaderPara2">Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
  </div>
  
  <div class="text-center">
    <p class="industriesMain">Industries</p> <!--font-family:KonsensSemibold ☞, Regular ;-->
    <hr   style="margin-left: 45%;" width="7.5%">
    <hr style="margin-left: 49%;" width="7.5%">
  </div>
  
  <div class="text-center industriesMainDiv">
    <p class="industriesMainDivPara">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De.</p>
  </div>
  
  <style>
    .carousel-arrow-next{right:-30px;background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNOC41OSAxNi41OUwxMy4xNyAxMiA4LjU5IDcuNDEgMTAgNmw2IDYtNiA2LTEuNDEtMS40MXoiLz48cGF0aCBkPSJNMCAwaDI0djI0SDBWMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=)}
    img{
      width: 208px;
      height: 260px;
    }
    .carousel-arrow{
      background-color: red;
    }
  </style>
  <!--Carousel Start-->
  <div class="carouselDiv">
  
    <carousel [cellsToShow]="5" [height]="530" [arrows]="false" [arrowsOutside]="true">
      <div class="carousel-cell">
        <div class="w3-row">
          <div class="w3-col l12 m12 s12">
            <img src="../assets/industries/Image 1.png" alt="" >
            <img src="../assets/industries/Image 2.png" alt="" >
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="w3-row">
          <div class="w3-col l12">
            <img src="../assets/industries/Image 3.png" alt="">
            <img src="../assets/industries/Image 4.png" alt="">
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="w3-row">
          <div class="w3-col l12">
            <img src="../assets/industries/Image 5.png" alt="">
            <img src="../assets/industries/Image 6.png" alt="">
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="w3-row">
          <div class="w3-col l12">
            <img src="../assets/industries/Image 7.png" alt="">
            <img src="../assets/industries/Image 8.png" alt="">
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="w3-row">
          <div class="w3-col l12">
            <img src="../assets/industries/Image 9.png" alt="">
            <img src="../assets/industries/Image 10.png" alt="">
          </div>
        </div>
      </div>
      <!--
      <div class="carousel-cell">
        <div class="w3-row">
          <div class="w3-col l12">
            <img src="../assets/industries/Image 1.png" alt="">
            <img src="../assets/industries/Image 2.png" alt="">
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="w3-row">
          <div class="w3-col l12">
            <img src="../assets/industries/Image 3.png" alt="">
            <img src="../assets/industries/Image 4.png" alt="">
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="w3-row">
          <div class="w3-col l12">
            <img src="../assets/industries/Image 5.png" alt="">
            <img src="../assets/industries/Image 6.png" alt="">
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="w3-row">
          <div class="w3-col l12">
            <img src="../assets/industries/Image 7.png" alt="">
            <img src="../assets/industries/Image 8.png" alt="">
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="w3-row">
          <div class="w3-col l12">
            <img src="../assets/industries/Image 9.png" alt="">
            <img src="../assets/industries/Image 10.png" alt="">
          </div>
        </div>
      </div>-->
    
    </carousel>
    <!---->
    
  <!---->
  </div>
  <app-footer></app-footer>
  <!--
  <style>
    img{
      height: 260px;
      width: 208px;
    }
  </style>
  <div class="w3-row">
    <div class="w3-col l1">
      <h1></h1>
    </div>
    <div class="w3-col l2">
      <img src="../assets/industries/Image 1.png" alt="">
      <img src="../assets/industries/Image 2.png" alt="">
    </div>
    <div class="w3-col l2">
      <img src="../assets/industries/Image 3.png" alt="">
      <img src="../assets/industries/Image 4.png" alt="">
    </div>
    <div class="w3-col l2">
      <img src="../assets/industries/Image 5.png" alt="">
      <img src="../assets/industries/Image 6.png" alt="">
    </div>
    <div class="w3-col l2">
      <img src="../assets/industries/Image 7.png" alt="">
      <img src="../assets/industries/Image 8.png" alt="">
    </div>
    <div class="w3-col l2">
      <img src="../assets/industries/Image 9.png" alt="">
      <img src="../assets/industries/Image 10.png" alt="">
    </div>
  </div>-->