<style>.form100{
  width: 39.239%;
  left: 10%;
}
  .formTrans{
    top: 195.761%;
  }
    .inputBackground{
      background: transparent; background-color: #7e787829; border-width: 0px;
    }
    input[type="text"]:focus, .uneditable-input:focus {
      border-color: red;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(223, 104, 239, 0.6);
    }
    label{
      padding-top: 5%;
      padding-bottom: 5%;
    }
    .mobileAbsolute{
      position: absolute;
      top: 185%;left: 55%;width: 39.239%;
    }
    .mobilePara{
      font-size: 14px; color: white;
    }
    @media screen and (min-width:320px) and (max-width:750px) {
.form100{
  width: 100%;
  left: 0%;
}      .formTrans{
    top: 179.761%;
  }
      img{
        width: 100%;
      }
      .mobileAbsolute{ 
  
      position: relative;
      top: 18%;left: 25%;width: 39.239%;
    }
    .mobilePara{
      font-size: 14px; color: black;
    }
    }
  </style>
  
  <!-- Start Transparent Form-->
  <div class="formTrans form100" style=" height: auto; border-radius: 10px; position: absolute; color: white; 
  background-image: url(../../assets/Contact\ us-BG.png);background: transparent; background-color: #7e787829 ">
  <form class="" style="padding: 5%; background: transparent;">
    <div class="w3-row">
      <div class="w3-col l6 m6 s12" style="padding-right:5% ;">
        <label>First Name</label>
        <input type="text" class="form-control inputBackground">
      </div>
      <div class="w3-col l6 m6 s12" style="padding-right:5% ;">
        <label>First Name</label>
        <input type="text" class="form-control inputBackground">
      </div>
    </div>
    <div class="w3-row">
      <label>First Name</label>
        <input type="text" class="form-control inputBackground">
    </div>
    <div class="w3-row" style="padding-top: 5%;">
      
      <div class="w3-col l2 m3 s4">
        <label style="padding-bottom: 0%; padding-top: 0%; ">Mobile</label>
        <input type="text" class="form-control inputBackground">
      </div>
      <div class="w3-col l10 m9 s8" style="padding-left:5%">
        <br>
        <input type="text" class="form-control inputBackground">
      </div>
    </div>
    <div class="w3-row">
      <label>Description</label><br>
        <textarea name="" id="" cols="30" rows="8" class="form-control inputBackground"></textarea>
    </div>
    <div class="w3-row text-center" style="padding-top: 5%;">
      <button class="btn btn" style="background-color: #E26246; color: white;">Submit</button>
    </div>
  </form>
  </div>
  <!--End Transparent Form-->
  <!--
    
  -->
  <img src="../../assets/Contact us-BG.png" alt="" style="height: 736.62px; width: 100%;">
  <!--Mobile Side-->
  <div class="mobileAbsolute">
    <div>
      <div class="text-center">
        <p style="font-size: 39px; color: #FC0E40;letter-spacing: 1.17px; font-weight: bold; 
      font-family: sans-serif;">Contact us</p>
      </div>
      <div>
        <p class="mobilePara">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in
          laying out print, graphic or web designs.
          The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of
          Cicero's De.</p>
      </div>
    </div>
  
    <div style="margin-left: 2%;">
      <img src="../assets/mobile1.png" alt="">
    </div>
  </div>
  <!--MObile Side-->