<!--Social Icons 
<div class="text-center socialIcons">
    <a href=""><img style="width: 33px; height: 33px; margin-top: 25px;" src="../assets/socials icons/facebook - white.png" alt=""></a><br>
    <a href=""><img style="width: 33px; height: 33px;" src="../assets/socials icons/instagram - white.png" alt=""></a><br>
    <a href=""><img style="width: 33px; height: 33px;" src="../assets/socials icons/twitter - white.png" alt=""></a><br>
    <a href=""><img style="width: 33px; height: 33px;" src="../assets/socials icons/linkedin - white.png" alt=""></a>
    </div>
    --->
<div>
    <div>
        <img src="../../assets/home/Cover Image.png" alt="" class="coverPageImg">
    </div>
    
    <div class="coverPageTitleDiv text-center">
        <p class="coverPageTitle">Manage your <span style="color: #E26246;">Office</span> from your <span style="color: #E26246;">Pocket!</span></p>
    </div>
    <div class="coverPageParaDiv">
        <p class="coverPagePara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>
    <div class="coverPageButtonDiv">
        <button class="btn btn coverPageButton">Know more</button>
    </div>
    <!--Designs-->
    <div class="design3">
        <img src="../../assets/designs/Design 3.png" alt="">
    </div>
    <div class="design11">
        <img src="../../assets/designs/Design 11.png" alt="">
    </div>
    <div class="design15">
        <img src="../../assets/designs/DEsign 15.png" alt="">
    </div>
    <div class="design16">
        <img src="../../assets/designs/Design 16.png" alt="">
    </div>
    <div class="design14">
        <img src="../../assets/designs/Design 14.png" alt="">
    </div>
    <!---->
    <!--Row 1-->
    <div class="w3-row row1Div">
        <div class="w3-col l6">
            <p class="row1Col1Para1">Explore More!</p><br>
            <p class="row1Col1Para2">Go beyond measurement and take the steps that will generate real business value. Designed to be scalable and sustainable, 
                We help you drive the action.</p><br>
            <p class="row1Col1Para3">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. 
                The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De 
                Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with. The purpose of lorem ipsum is to create a 
                natural looking.</p>
        </div>
        <div class="w3-col l6">
            <img src="../../assets/home/Appointments - box.png" alt="" class="row1Col2Img1">
           
            <img src="../../assets/home/Reviews - box.png" alt="" class="row1Col2Img2">
            <img src="../../assets/home/Reminders - box.png" alt="" class="row1Col2Img3">
            <img src="../../assets/home/Reports - box.png" alt=" " class="row1Col2Img4">
        </div>
    </div>
    <!---->
    <!--Row 2-->
    <div class="row2Div1" style="background-image: url(../../assets/home/Appointments\ -\ BG.png);">
        <div class="w3-row row2Div">
            <div class="w3-col l6">
                <img src="../../assets/home/Appointments - image.png" alt="" class="row2Col1Img">
            </div>
            <div class="w3-col l6">
                <p class="row2Col2Para1">Appointments</p>
                <hr   style="margin-left: 45%;" width="7.5%">
                <hr style="margin-left: 49%;" width="7.5%">
                <p class="row2Col2Para2">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. 
                    The passage is attributed to an unknown typesetter in the 15th century.</p>
                    <ul>
                        <li class="row2Col2Li">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</li>   
                        <li class="row2Col2Li">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</li>
                        <li class="row2Col2Li">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</li>
                    </ul>
                    </div>
                    
                
        </div>
        
    </div>
    <!-- Row 3-->
    <div class="row3Div1" style="background-image: url(../../assets/home/Reviews\ -\ BG.png);">
        <div class="w3-row row3Div2">
            <div class="w3-col l6">
                <p class="row3Col1Para1">Reviews</p>
                <hr style="margin-left: 45%; color: white;" width="7.5%">
                <hr style="margin-left: 49%; color: white;" width="7.5%">
                <p class="row3Col1Para2">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out
                    print,
                    graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century.</p>
                <ul>
                    <li class="row3Col1Li">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying
                        out print,
                        graphic or web designs.</li>
                    <li class="row3Col1Li">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying
                        out print,
                        graphic or web designs.</li>
                </ul>
            </div>
            <div class="w3-col l6">
                <img src="../../assets/home/Reviews - image.png" alt="" class="row3Col2Img">
            </div>
        </div>
    </div>
    <!--Row 4 -->
    <div class="row4Div1" style="background-image: url(../../assets/home/Reminers\ -\ BG.png); ">
        <div class="w3-row row4Div2">
            <div class="w3-col l6">
                <img class="row4Col1Img" src="../../assets/home/Reminders - image.png" alt="">
            </div>
            <div class="w3-col l6">
                <p class="row4Col2Para1">Reminders</p>
                <hr style="margin-left: 45%; color: white;" width="7.5%">
                <hr style="margin-left: 49%; color: white;" width="7.5%">
                <p class="row4Col2Para2">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, 
                    graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century.</p>
                 <ul>
                     <li class="row4Col2Li">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, 
                         graphic or web designs.</li>
                    <li class="row4Col2Li">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, 
                        graphic or web designs.</li>
                    <li class="row4Col2Li">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, 
                        graphic or web designs.</li>
                 </ul>   
            </div>
        </div>
    </div>
    <!-- Row 5-->
    <div class="row5Div1" style="background-image: url(../../assets/home/Look\ for\ -\ BG.png);">
        <div class="w3-row row5Div2">
            <div class="w3-col l6">
                <p class="row5Col1Para1">Look For</p>
                <hr style="margin-left: 45%; color: white;" width="7.5%">
                <hr style="margin-left: 49%; color: white;" width="7.5%">
                <p class="row5Col1Para2">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out
                    print,
                    graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century.</p>
                <ul>
                    <li class="row5Col1Li">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying
                        out print,
                        graphic or web designs.</li>
                    <li class="row5Col1Li">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying
                        out print,
                        graphic or web designs.</li>
                        <li class="row5Col1Li">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying
                            out print,
                            graphic or web designs.</li>
                </ul>
            </div>
            <div class="w3-col l6">
                <img src="../../assets/home/Look for - image.png" alt="" class="row5Col2Img">
            </div>
        </div>
    </div>
    <!---->
    <!--Row 6-->
    <div class="row6Div1" style="background-image: url(../../assets/home/Start\ planning\ today\ -\ BG.png); ">
        <div class="w3-row row6Div2">
            <div class="w3-col l6">
                <img class="row6Col1Img" src="../../assets/home/Start planning today - image.png" alt="">
            </div>
            <div class="w3-col l6">
                <div class="w3-row row6Col2RowDiv">
                    <div class="w3-col l2">
                        <p class="row6Col2Para1" >Start planning</p>
                    </div>
                    <div class="w3-col l10">
                        <p class="row6Col2Para2">TODAY</p>
                    </div>
                </div>
                <p class="row6Col2Para3">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                    <div class="row6Col2ButtonDiv">
                        <button class="btn btn row6Col2Buttton" >Join us</button>
                    </div>
                
                  
            </div>
        </div>
    </div>
    <!---->
    <app-footer></app-footer>
</div>
